body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo {
    font-size: 36px;
    margin-bottom: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#si, #no {
    font-size: 18px;
    padding: 15px 30px;
    cursor: pointer;
    margin: 10px;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#si {
    background-color: #27ae60;
}

#no {
    background-color: #e74c3c;
}

#no:hover {
    background-color: #c0392b;
}

#no.clicked {
    position: relative;
    left: 10px;
}
